<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
  {{ title }}!
  </h1>
</div>

<app-sidenav></app-sidenav>

<div style="margin-top: 500px;"><app-mat-drawer></app-mat-drawer></div>
<!-- <app-mat-toolbar></app-mat-toolbar> -->
<app-mat-badge></app-mat-badge>
<app-mat-card></app-mat-card>
<app-mat-ex-panel></app-mat-ex-panel>
<app-mat-gridlist></app-mat-gridlist>
<app-mat-stepper></app-mat-stepper>
<app-mat-tab></app-mat-tab>
<app-mat-tree></app-mat-tree>
<app-calendar></app-calendar>